// font
$font-family: "font-family: 'Roboto', sans-serif;";
$black-color: #0a0a0a;
//input-box borders and label colors
$border: #16110d;
$input-color: #b7b7b7;

//button
$button-background: #edf0f7;
$button-title-color-1: #2355fc;
$button-title-color-2: #ffffff;
$button-active-color: #3B286D;;

//margins
$mt-0: 0px;